{% for task in tasks %}
  <div class="task mb-2">
    <div class="container">
      <div class="row">
        <div class="col-12 task-header">
          <span class="task-priority priority-{{ task.priority }}">
            <i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
          </span>
          <a href="#" data-toggle="modal" data-target="#modal-update-task"
             class="nav-link task-title save-task-id" data-task="{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <div class="col-12 task-body">
          <div class="task-description">
            {{ task.description }}
          </div>
          <i class="fas fa-ad"></i>
        </div>
        <div class="col-12 task-footer">
          <div class="task-status status-{{ task.status }}">
            {{ task.status }}
          </div>
          <button type="button" data-toggle="modal" data-target="#modal-confirm-delete"
                  class="todo-btn btn-delete save-task-id" data-task="{{ task.id }}">
            <i class="fas fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
