{% for task in tasks %}
  <div class="task {{ task.priority }}">
    <div class="d-flex">
      <div class="task__status badge badge-primary mx-1">
        {{ task.status }}
      </div>
      <div class="task__description mx-1">
        {{ task.description }}
      </div>
    </div>
    <div class="d-flex">
      <button type="button" data-toggle="modal" data-target="#modal-edit-task"
              class="btn btn-primary mx-1">
        Edit
      </button>
      <button type="button" data-toggle="modal" data-target="#modal-confirm-delete"
              data-url="{{ url_for('remove_task', task_id=task.id) }}" class="btn btn-danger delete-btn mx-1">
        Delete
      </button>
    </div>
  </div>
{% endfor %}