body {
  background-color: #45515d;
}

.header {
  padding: 8px;
  background-color: #353f4a;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: #ced7e0;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.task-header {
  display: flex;
  border-bottom: 1px solid #9fa8b1;
}

.task-body {
  padding: 16px;
  border-bottom: 1px solid #9fa8b1;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.task-title {
  padding: 8px 0 8px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.task-description {
  color: #353f4a;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.task-priority {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 8px;
}

.task-status {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.task-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #45515d;
  color: #ced7e0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.empty {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6592bf;
}

.todo-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.btn-create {
  background-color: #45515d;
  color: #009c0a;
  transition: all 0.4s;
}
.btn-create:hover {
  background-color: #637583;
  color: #00bf0a;
}
.btn-create:focus {
  background-color: #7a8e9c;
  color: #24f814;
  outline: unset;
}

.btn-delete {
  background-color: #9c0b1b;
  color: white;
}
.btn-delete:hover {
  background-color: #bf0000;
}
.btn-delete:focus {
  outline: none;
  background-color: #db0000;
}

.priority-not-set { color: #353f4a; }
.priority-low { color: #53a3f4; }
.priority-normal { color: #ffd544; }
.priority-high { color: #ff9623; }
.priority-top { color: #db0000; }


.status-todo {
  background-color: #461f6f;
  color: #f100ff;
}
.status-in-progress {
  background-color: #006eb4;
  color: #b3ffff;
}
.status-complete {
  background-color: #009c0a;
  color: #24f814;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  margin-bottom: 0;
}